{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="categories-page">
        <h1 class="page-title">Nos catégories</h1>
        <div class="app-container">
            {% include 'layout/categories-products.html.twig' %}
        </div>
    </div>
{% endblock %}

   

