{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    
    <div class="app-container">
        <a class="button get-back" href="{{ path('admin') }}">Revenir à la liste</a>
        <h1 class="page-title">Créer une catégorie</h1>
        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
