{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="app-container">
        <a class="button get-back" href="{{ path('admin') }}">Revenir à la liste</a>
        <h1 class="page-title">Modifier le produit</h1>
        {{ include('product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
