<div class="products-container">
    {% if highlighted_products %}
        {% for product in highlighted_products %}
            <div class="product">
                <div class="product_image">
                    <img src="{{ product.image }}"></img>
                </div>
                <div class="product_infos">
                    {% for cat in product.categories %}
                    <p class="product-cat">{{ cat }}</p>
                    {% endfor %}
                    <p class="product-title">{{ product.name }}</p>
                    <a class="button" href="{{ path('app_product_show', {'id': product.id}) }}">Voir</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p> No products </p>
     {% endif %}
</div>